.issue-board {
  /* display: flex; */
  justify-content: space-between;
  padding: 20px;
  background-color: #f5f5f5;
}

.column-container {
  display: flex;
}

.column {
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.column h4 {
  text-align: left;
  margin-bottom: 20px;
  color: #333;

}

.column hr {
  margin-bottom: 30px;
}

.issue-card {
  background-color: white;
  margin-bottom: 10px;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.issue-card h3 {
  margin: 0 0 10px;
  font-size: 16px;
  color: #333;
}

.create-issue-btn {
  padding: 10px 20px;
  background-color: var(--grey);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  line-height: 5px;
}

.create-issue-btn:hover {
  background-color: var(--midGrey);
}

.button-container {
  display: flex;
  justify-content: flex-end;
  padding: 20px 10px;
}
