.projectBoardContainer {
    padding: 20px;
}

.projectBoardTitle {
    text-align: center;
    margin-bottom: 40px;
    color: #333;
    font-size: 24px;
}

.projectCard {
    border: 2px solid #0052CC;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.projectCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.02); 
    cursor: pointer; 
}

.projectCardContent {
    padding: 2px 16px;
}

.projectCardTitle {
    font-size: 18px;
    margin-bottom: 15px;
    color: #0052CC;
    font-weight: bold;
}

.projectCardDescription {
    color: #666;
    margin-bottom: 15px;
}

.projectCardDetails {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #777;
}

.createProjectBox {
    margin-bottom: 20px; /* 하단 간격 */
    text-align: right; /* 왼쪽 정렬 */
  }
